@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slide-right-enter {
  z-index: 2;
  transform: translate(100%);
}

.slide-right-enter-active {
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}

.slide-right-exit {
  z-index: 1;
  transform: translateX(0%);
}

.slide-right-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.slide-left-enter {
  z-index: 2;
  transform: translateX(-100%);
}

.slide-left-enter-active {
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}

.slide-left-exit {
  z-index: 1;
  transform: translateX(0%);
}

.slide-left-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

div.tab-item-wrapper {
  overflow: hidden;
}

div.tab-item-container {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

div.tab-item-container > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
